fastapi>=0.100.0
uvicorn>=0.23.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
app-store-scraper==0.1.1
google-play-scraper==1.2.4
pandas>=2.0.0
fpdf2>=2.7.0
vaderSentiment==3.3.2
python-multipart>=0.0.6
celery>=5.3.0
langdetect==1.0.9
alembic>=1.11.0
urllib3==1.26.15
requests<2.30.0
redis>=5.0.0
